{% extends 'url_shortener/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'url_shortener/css/base_form.css' %}">
{% endblock %}

{% block main %}
  <div class="d-flex h-100vh bg-gradient-black justify-content-center align-items-center">
    <div class="form-container text-center bg-gradient-black rounded-lg p-2 m-2">
      <h1 class="text-light m-2">{% block form_title %}Summarit{% endblock %}</h1>
      <img src="{% static 'url_shortener/img/link.png' %}" alt="URLShortener" class="w-50">
      {% block form %}
      {% endblock %}
    </div>
  </div>
{% endblock %}