{% extends 'url_shortener/base.html' %}
{% load static %}
{% load url_shortener_template_tags %}

{% block title %}{{ block.super }}خانه{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'url_shortener/css/home.css' %}">
{% endblock %}

{% block navbar %}
  {% navbar user %}
{% endblock %}

{% block header %}
  <header class="hero bg-gradient-black text-white d-row-flex d-lg-flex align-items-center text-center justify-content-center mb-5 p-5">
    <div class="title mx-auto text-center display-3">کوتاه کننده لینک با جنگو</div>
    <img class="w-75 mt-2" src="{% static 'url_shortener/img/link.png' %}" alt="ًََURL Shortener"/>
  </header>
{% endblock %}

{% block main %}
  <main>
    <h1 class="text-center display-4">آدرس‌های پربازدید</h1>
  </main>
{% endblock %}
