.hero {
    font-family: 'Almarai', sans-serif;
    position: relative;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.nav-link {
    font-family: 'Harmattan', sans-serif;
    font-size: 24px;
}

h1 {
    font-family: 'Harmattan', sans-serif;
}